*{
   margin: 0;
   padding: 0;
}
.navbar {
  background-color: black;
  padding:  0 95px 45px 95px;
}
/* Navigation Bar Styles */
.nav {
  display: flex;
  background-color: #1b1b1b;
}
.nav-items ul {
  list-style-type: none;
  gap:50px;
}
.nav-items ul li a {
  text-decoration: none;
  color: #9C9C9C;
  font-size: 20px;
}
.nav-items ul li a:hover {
  color: white;
}
/* Hero Section Styles */
.button{
    padding: 50px 0 ;
}
.button a{
    color: white;
    background-color: rgb(37, 161, 6);
    text-align: center;
    text-decoration: none;
    padding: 30px 50px;
    font-size: 20px;
    font-style: italic;
}
.button a:hover{
    background-color: rgb(62, 107, 51);
}
 h1{
    color: white;
    font-size: 50px;
    margin-top: 26px;
}
p{
    width: 524px;
    color: gray;
    font-size: 20px;
    margin-top: 30px;
}
.hero-footer{
    display: flex;
    padding: 0px 90px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    flex-direction: column;
}
.hero-footer p{
    color: #9c9c9c;
}


/* Case Studies Section Styles */
.case-study-section{
   padding: 70px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.details{
    color: #9C9C9C;
}

/* for all text side area */
.title-common{       
    display: flex;
    margin-top: 50px;
}
.title-common h4{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}
.btn1{
    background-color: #FFA217;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
    border-radius: 15px;
}
.des1 h4{
    margin-bottom: 20px;
    color: #FFA217;
    font-size : 20px;
}
.btn2{
    background-color: #000AFF;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
    border-radius: 15px;
}
.des2 h4{
    margin-bottom: 20px;
    color: #000AFF;
    font-size : 20px;
}
.btn3{
    background-color:#2AB090;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
    border-radius: 15px;
}
.des3 h4{
    margin-bottom: 20px;
    color:#2AB090;
    font-size: 20px;
}
.btn a{
    color:white;
    text-decoration: none;
     font-size: 20px;
    font-weight: 600;
}
.btn a:hover{
    opacity: 0.8;
}
.img img{
    border-radius: 15px;
    width:  530px;
}


/* Testimonials Section Styles */
.testimonials{
    background-color: black;
    padding: 70px;
   
}
.testimonials-heading {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.testimonials-container{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #9C9C9C;
}

/* for card position */
.testimonials-cards{ 
    
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   margin-top: 40px;
   place-items: center;
}

 /* card style */
.card{               
    position: relative;
    border: 1px solid #484848;
    border-style:outset;
    padding: 30px;
    border-radius: 13px;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.card::before {
  content: "“";
  position: absolute;
  top: -22px;
  left: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;    
  padding: 0 8px;
  border-radius: 6px;   
} 
.card p{       
    color: #9C9C9C;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 25px;
    margin: 0 0 25px 0 ;
    text-align: center;
}
.client{
    display: flex;
    align-items: center;
    gap: 15px;
}
.client img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  object-fit: cover;
}
.client h3 {
  color: white;
  font-size: 18px;
  margin: 0;
  gap: 10px;
}


/* Recent Work Section Styles */
.recent-work-section{
  padding: 70px;
}
.recent-work-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    gap: 50px;
}
.descryption{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #9C9C9C;
    margin-bottom: 40px;
    font: IBMPlexSans-Regular;
    line-height: 28px;
}
.work-des{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
}
.workcard  img{
    width: 445px;
    height: 300px;
    border-radius: 15px; 
}
.workcard h3{
     margin-top: 40px;
    margin-bottom: 10px;
    font-size: 32px;
}
.workcard p{
    color: #9C9C9C;
    font-size: 20px;
    font-weight: 400;
}
.know-more{
    margin-top: 40px;
}
.workcard a{
     color: white;
    background-color: #3f8e00;
    text-align: center;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 20px;
    font-style: italic;
    border-color: #62ba1b;
    border-radius: 10px;
    font-weight: 600;
}
.workcard a:hover{
    background-color: #62ba1b;
}

/* get in touch section */
.get-in-touch-section{
    background-color: black;
    padding: 50px;
}
 .form{
     align-items: center;
    justify-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: white;
}
.info{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #9C9C9C;
    margin-bottom: 40px;
    font: IBMPlexSans-Regular;
    line-height: 28px;
}
.submit-btn a{
    color: white;
    font-weight: bold;
    background-color: #3f8e00;
    text-align: center;
    text-decoration: none;
    padding: 13px 180px;
    font-size: 20px;
    font-style: italic;
    border-color: #62ba1b;
    border-radius: 10px;
}
.submit-btn a:hover{
    background-color: #62ba1b;
}
.email{
    flex-direction: column;
}
.email label{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.email input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 400px;
    font-size: 16px;
}
.number{
    flex-direction: column;
}
.number label{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.number input{
    padding: 10px;              
    border-radius: 5px;
    border: none;
    width: 400px;
    font-size: 16px;        
}
.message{
    flex-direction: column;                                
}
.message label{
    color: white;
    font-size: 20px;    
    margin-bottom: 10px;
}
.message textarea{
    padding: 10px;        
    border-radius: 5px; 
    border: none;
    width: 400px;
    height: 150px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
    overflow: auto
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   text-align: center;
    background-color: #1b1b1b;
}
.footer p{
    color: #9c9c9c;
}
