*{
   margin: 0;
}
.page1 {
  background-color: black;
  padding: 50px;
}
/* Navigation Bar Styles */
.nav {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
}
.navbar ul {
  list-style-type: none;
  margin-top:24px;
  gap: 70px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar ul li a {
  text-decoration: none;
  color: #9C9C9C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 16px;
}
.navbar ul li a:hover {
  color: white;
}
.nav-icon{
     height: 107.54px;
    margin-top: 26px;
    margin-left: 120px;
    width: 107.54px;
}


/* Hero Section Styles */
.hero{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.button a{
    color: white;
    background-color: rgb(37, 161, 6);
    text-align: center;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 20px;
    margin-top: 40px;
    font-style: italic;
}
.button a:hover{
    background-color: rgb(62, 107, 51);
}
 h1{
    height: 72px;
    color: white;
    font-size: 50px;
    margin-top: 25px;
}
p{
    width: 524px;
    height: 96px;
    color: gray;
    font-size: 20px;
    margin-top: 30px;
}
.line{
    gap: 20px;
}
.hero2{
    margin-left: 180px;
    color: rgb(255, 255, 255);
    margin-top: 200px;
}
.logo{
  
    width: 920px;
    margin-left: 180px;
}



/* Case Studies Section Styles */
.page2{
   padding: 50px;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    gap: 50px;
}
.details{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #9C9C9C;
    margin-bottom: 40px;
    font: IBMPlexSans-Regular;
    line-height: 28px;
}
.title-common{         /* for all text side area */
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.title-common h4{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}
.btn1{
    background-color: #FFA217;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
}
.des1 h4{
    margin-bottom: 20px;
    color: #FFA217;
    font-size : 20px;
}
.btn2{
    background-color: #000AFF;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
}
.des2 h4{
    margin-bottom: 20px;
    color: #000AFF;
    font-size : 20px;
}
.btn3{
    background-color:#2AB090;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    font-style: italic;
}
.des3 h4{
    margin-bottom: 20px;
    color:#2AB090;
    font-size: 20px;
}
.btn a{
    color:white;
    text-decoration: none;
     font-size: 20px;
    font-weight: 600;
}
.btn a:hover{
    opacity: 0.8;
}
.img{
   border-radius: 25px;
}


/* Testimonials Section Styles */
.testimonials{
    background-color: black;
    padding: 50px;
   
}
.title4  {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
.detailss{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #9C9C9C;
    margin-bottom: 40px;
    line-height: 28px;
}
.cards{                 /* for card position */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   margin-top: 40px;
   place-items: center;
  

}
.card{                       /* card style */
    position: relative;
    border: 1px solid #484848;
    border-style:outset;
    padding: 30px;
    border-radius: 10px;
    background-color: #1b1b1b;
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.card::before {
  content: "“";
  position: absolute;
  top: -22px;
  left: 25px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  background: #1b1b1b;     
  padding: 0 8px;
  border-radius: 6px;       
}
.card p{       
    color: #9C9C9C;
    line-height: 24px;
    letter-spacing: 1%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    margin: 0 0 25px 0 ;
    overflow: auto;
    
}
.client{
    display: flex;
    align-items: center;
    gap: 15px;
}
.client img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  object-fit: cover;
}
.client h3 {
  color: white;
  font-size: 18px;
  margin: 0;
  gap: 10px;
}


/* Recent Work Section Styles */
.page4{
  padding: 50px;
  
}
.title5  {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.descryption{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #9C9C9C;
    margin-bottom: 40px;
    font: IBMPlexSans-Regular;
    line-height: 28px;
}
.work-des{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
}
.workcard  img{
    width: 445px;
    height: 300px;
    border-radius: 10px; 

}
.workcard h3{
     margin-top: 40px;
    margin-bottom: 10px;
    font-size: 32px;
}
.workcard p{
    color: #9C9C9C;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.workcard a{
     color: white;
    background-color: #3f8e00;
    text-align: center;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 20px;
    margin-top: 40px;
    font-style: italic;
    border-color: #62ba1b;
    border-radius: 10px;
    font-weight: 600;
}
.workcard a:hover{
    background-color: #62ba1b;
}

/* get in touch section */
.page5{
    background-color: black;
    padding: 50px;
    
}
 .form{
     align-items: center;
    justify-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.info{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #9C9C9C;
    margin-bottom: 40px;
    font: IBMPlexSans-Regular;
    line-height: 28px;
}
.submit-btn a{
    color: white;
    font-weight: bold;
    background-color: #3f8e00;
    text-align: center;
    text-decoration: none;
    padding: 13px 180px;
    font-size: 20px;
    font-style: italic;
    border-color: #62ba1b;
    border-radius: 10px;
}
.submit-btn a:hover{
    background-color: #62ba1b;
}
.email{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.email label{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.email input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 400px;
    font-size: 16px;
}
.number{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.number label{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.number input{
    padding: 10px;              
    border-radius: 5px;
    border: none;
    width: 400px;
    font-size: 16px;        
}
.message{
    display: flex;
    flex-direction: column;                                 
    margin-bottom: 20px;
}
.message label{
    color: white;
    font-size: 20px;    
    margin-bottom: 10px;
}
.message textarea{
    padding: 10px;        
    border-radius: 5px; 
    border: none;
    width: 400px;
    height: 150px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
    overflow: auto
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   text-align: center;
    background-color: #1b1b1b;
}
.footer p{
    color: #9c9c9c;
    
}